/*
    Created on : 30-ene-2014, 20:54:53
    Author     : ricardo
*/

ul.sortable.grid {
  overflow: hidden;
  width: 100%;
  height: 100%;
  clear: both;
  padding-top: 3px;
}

.sortable.grid li {
  line-height: 80px;
  float: left;
  width: 80px;
  height: 80px;
  text-align: center;
}

.sortable li {
  list-style: none;
  border: 1px solid #CCC;
  background: #F6F6F6;
  color: #1C94C4;
  margin: 0 8px 8px 8px;
  padding: 5px;
  height: 22px;
}

li.sortable-dragging {
  position: relative;
}

.sortable li.selected {
  border: solid 4px red;
  margin: 0 5px 2px 5px;
  position: relative;
  top: -3px;

}
/*
.sortable-wrapper .form-item input.form-text {
  display: none;
}
*/
.sortable-wrapper .form-type-textfield  {
  display: none;
}
